.app__footer-links_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust margin as needed */
}

.contact{
    display: flex;
}

.app__wrapper_info__contact {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img__contact {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
margin-right: 3rem;
  margin-left: 2rem;
}