/* Mobile-first approach */

/* Common styles for menu and categories */
.app__menu {
    flex-direction: column;
    background: var(--color-black);
}

.app__menu-title {
    margin-bottom: 2rem;
    text-align: center;
}

.app__menu-categories {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app__menu-category {
    flex: 1;
    width: calc(50% - 2rem);
    margin: 1rem;
    padding: 2rem;
    border-radius: 8px;
    background-color: var(--color-black);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.app__menu-category-heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: var(--color-white);
    text-align: center;
}

.app__menu-items {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    width: 100%;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .app__menu-category {
        width: calc(100% - 2rem);
    }
}
