.app__header {
    background-color: var(--color-black);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img img {
    width: 80%;
}
.doordash{
  width: 300px;
}
.ubereats{
  width: 300px;
}

.app__wrapper_info {
  text-align: center; 
}


.heading {
  margin-bottom: 10px; 
}

.custom__button {
  margin-top: 20px;
}

/* Your existing styles */
.app__wrapper_info {
  /* Your existing styles */
  text-align: center; /* Align content within .app__wrapper_info to center */
  opacity: 0;
  animation-name: fadeInAnimation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  border-radius: 10px;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 70px;
        line-height: 87px;
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 50px;
        line-height: 70px;
    }
}